<maorix-header (sideNavToggleEvent)="sideNavToggle()"></maorix-header>
<mat-sidenav-container>
  <mat-sidenav [(opened)]="isSideNavOpened" class="sidenav" [autoFocus]="false">
    <mat-nav-list *ngFor="let tab of navigationTabs">
      <a [routerLink]="tab.routerLink" mat-list-item routerLinkActive="active-list-item" (click)="sideNavToggle()">
        {{ tab.title }}
      </a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content class="main-content">
    <main>
      <router-outlet></router-outlet>
    </main>
  </mat-sidenav-content>
</mat-sidenav-container>
<maorix-footer></maorix-footer>
