<maorix-header (sideNavToggleEvent)="sideNavToggle()"></maorix-header>
<mat-sidenav-container>
  <mat-sidenav [(opened)]="isSideNavOpened" class="sidenav" [autoFocus]="false">
    <mat-nav-list>
      <a routerLink="/dashboard" mat-list-item routerLinkActive="active-list-item" (click)="sideNavToggle()">
        Dashboard
      </a>
      <a routerLink="/cabinet" mat-list-item routerLinkActive="active-list-item" (click)="sideNavToggle()">
        Cabinet
      </a>
      <a routerLink="/qr-contribute" mat-list-item routerLinkActive="active-list-item" (click)="sideNavToggle()">
        Contribute
      </a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content class="main-content">
    <main>
      <router-outlet></router-outlet>
    </main>
  </mat-sidenav-content>
</mat-sidenav-container>
<maorix-footer></maorix-footer>
