<ng-container *ngIf="(user$ | async)!.contribution else noInfo">
  <div class="progress-wrapper">
    <h2>Check your progress info 🔥</h2>
    <mat-accordion>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            <mat-icon>bar_chart</mat-icon> Your current rank -&nbsp;<span class="metrics">{{(user$ | async)!.rank}}</span>
          </mat-panel-title>
        </mat-expansion-panel-header>
        <p>This is your rank in all leadership table. The higher you are in the rating table, the more you will receive a multiplier for coins for your contribution. Enjoy</p>
        <button mat-raised-button color="primary">
          Go to leadership table
        </button>
      </mat-expansion-panel>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            <mat-icon>show_chart</mat-icon> Your current multiplier -&nbsp;<span class="metrics">{{multiplier}}x</span>
          </mat-panel-title>
        </mat-expansion-panel-header>
        <p>Your environmental multiplier increases every time you turn in bottles. Do this more often to increase your multiplier</p>
      </mat-expansion-panel>

      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            <mat-icon>monetization_on</mat-icon>
            Possible earnings -&nbsp;<span class="metrics">{{ possibleEarnings }} NEAR</span>
          </mat-panel-title>
        </mat-expansion-panel-header>
        <p>If you keep your position in the ranking until the end of the month, taking into account the multiplier, you will receive exactly this amount in NEAR to your wallet. A worthy reward for a worthy person</p>
      </mat-expansion-panel>
    </mat-accordion>
  </div>
</ng-container>


<ng-template #noInfo>
  <mat-card class="no-info-card">
    <mat-icon>info</mat-icon>
    <p>Now no additional stats for your account. Make contribution and see it</p>
  </mat-card>
</ng-template>
