<mat-toolbar color="primary">
  <button
    mat-icon-button
    aria-label="Menu icon"
    (click)="onSideNavToggle()"
  >
    <mat-icon>menu</mat-icon>
  </button>
  <span>Maorix appication</span>
  <span class="spacer"></span>
  <ng-container *ngIf="nearAuthService.isSignedIn$ | async" >
    <button mat-raised-button color="warn" (click)="onLogout()">
      Logout
    </button>
  </ng-container>
</mat-toolbar>


<!--    <mat-nav-list>-->
<!--      <a (click)="sidenav.toggle()" href="" mat-list-item>Close</a>-->
<!--      <a href="#" mat-list-item>Menu Item 1</a>-->
<!--      <a href="#" mat-list-item>Menu Item 2</a>-->
<!--      <a href="#" mat-list-item>Menu Item 3</a>-->
<!--      <a href="#" mat-list-item>Menu Item 4</a>-->
<!--      <a href="#" mat-list-item>Menu Item 5</a>-->
<!--      <a href="#" mat-list-item>Menu Item 6</a>-->
<!--    </mat-nav-list>-->
