<mat-card>
  <mat-card-header>
    <mat-card-title>Address - {{ user.accountId }}</mat-card-title>
    <mat-card-subtitle>Here you can see your stats</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <mat-list>
      <mat-list-item>
        <mat-icon mat-list-icon>person_outline</mat-icon>
        <div class="list__item-info">
          <div class="list__item-info-title">
            Name
          </div>
          <div class="list__item-info-value">
            {{user.name}}
          </div>
        </div>
      </mat-list-item>
      <mat-divider></mat-divider>
      <mat-list-item>
        <mat-icon mat-list-icon>local_florist</mat-icon>
        <div class="list__item-info">
          <div class="list__item-info-title">
            Contributed
          </div>
          <div class="list__item-info-value">
            {{ user.contribution }}
          </div>
        </div>
      </mat-list-item>
      <mat-divider></mat-divider>
      <mat-list-item>
        <mat-icon mat-list-icon>money_bag</mat-icon>
        <div class="list__item-info">
          <div class="list__item-info-title">
            Your award
          </div>
          <div class="list__item-info-value">
            {{ user.award | number: '1.2-2' }} NEAR
          </div>
        </div>
      </mat-list-item>
      <mat-divider></mat-divider>
    </mat-list>
  </mat-card-content>
</mat-card>
