.list__item-info {
  display: flex;
  gap: calc(var(--spacing-unit) * 4px);
  width: 100%;
  padding-left: calc(var(--spacing-unit) * 2px);
}

.list__item-info-title {
  font-weight: bold;
}

.button__group {
  padding: calc(var(--spacing-unit) * 4px) 0;
  display: flex;
  gap: calc(var(--spacing-unit) * 3px);
  justify-content: center;
}

.mat-success {
  background-color: green;
  color: #fff;
}
