table {
  width: 100%;
}

.mat-form-field {
  font-size: 14px;
  width: 100%;
}

td, th {
  width: 25%;
}

.loader {
  padding: calc(var(--spacing-unit) * 2px);
  display: flex;
  justify-content: center;
}
