<ng-container *ngIf="(status$ | async) !== 'loading' else loading">
  <ng-container *ngIf="user$ | async else noUser">
    <div>
      <h1>New day, nice to see you!</h1>
      <maorix-new-season-timer></maorix-new-season-timer>
      <mat-divider></mat-divider>

      <maorix-user-card></maorix-user-card>

      <maorix-session-info></maorix-session-info>
      <div class="button__group">
        <button
          mat-raised-button
          color="warn"
          *ngIf="user$ | async as u"
          (click)="openChangeNameDialog(u.name)"
        >
          Change username
        </button>
        <a mat-raised-button color="success" routerLink="/qr-contribute">
          Make contribution
        </a>
      </div>
    </div>
  </ng-container>
</ng-container>

<ng-template #loading>
  <div class="loading-spinner">
    <mat-spinner></mat-spinner>
  </div>
</ng-template>

<ng-template #noUser>
  <div class="create-profile">
    <h1>Please, create profile for future contributions</h1>
    <form (ngSubmit)="onCreateUser()">
      <div mat-dialog-content>
        <p>Change your name</p>
        <mat-form-field appearance="fill">
          <mat-label>Please enter new name</mat-label>
          <input matInput [(ngModel)]="name" name="name">
        </mat-form-field>
      </div>
      <div>
        <button mat-raised-button color="primary" type="submit">Create account</button>
      </div>
    </form>
  </div>
</ng-template>
